<h1>New Tv Show</h1>

<form action="/create_tv_show">
  <div>
    <label for="title">title</label><br />
    <input id="title" name="title" type="text" />
  </div>
  <div>
    <label for="description">description</label><br />
    <input id="description" name="description" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

