<h1>New Time Slot</h1>

<form action="/create_time_slot">
  <div>
    <label for="TVShow_id">TVShow_id</label><br />
    <input id="TVShow_id" name="TVShow_id" type="text" />
  </div>
  <div>
    <label for="network_id">network_id</label><br />
    <input id="network_id" name="network_id" type="text" />
  </div>
  <div>
    <label for="time">time</label><br />
    <input id="time" name="time" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

