<h1>New Character</h1>

<form action="/create_character">
  <div>
    <label for="actor_id">actor_id</label><br />
    <input id="actor_id" name="actor_id" type="text" />
  </div>
  <div>
    <label for="TVShow_id">TVShow_id</label><br />
    <input id="TVShow_id" name="TVShow_id" type="text" />
  </div>
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

